<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-id">Insira uma senha</label>
    <input type="text" id="room-id" name="password" placeholder="Insira uma senha">
    <button>
      <img src="/images/users-white.svg" alt="Criar uma sala">
      Criar uma sala
    </button>
  </form>
</section>
