.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas:
        "header header"
        "left right"
    ;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}

header{
    grid-area: header;
}

#bg{
    grid-area: left;
    background: url("/images/home-bg.svg") no-repeat top/contain;
    background-position: -10rem;
}

main{
    grid-area: right;

    display: flex;
    align-items: center;
    margin-top: -12rem;
}

main .container{
    width: min(36.3rem, 100%);
}

main h2{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(20px, 2.8rem, 5vw);
    margin-bottom: 2.4rem;

    color: var (--black);
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, 1.8rem, 3vw);
    margin-bottom: 1.4rem;
    text-align: center;

    color: var(--red);
}

input{
    border: 0.2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    outline: none;
}

.separator {
    display: flex;
    align-items: center;

    margin: 4rem 0;
}

.separator div:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    color: var(--grey-blue);
    font-weight: 400;

    padding: 0 1.35rem;
}

.separator div:nth-child(1), .separator div:nth-child(3) {
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}

.ball {
    background: var(--blue);

    clip-path: circle();
    position: fixed;
    opacity: 0.1;
}

.ball.top {
    width: 63.3rem;
    height: 63.3rem;

    top: -46rem;
    right: -35rem;
}

.ball.bottom {
    width: 21.2rem;
    height: 21.2rem;

    bottom: -15rem;
    right: 5.6rem;
}
